* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f9; */
  color: #e2dede;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(251, 245, 234);
  padding: 20px 200px;
  border: 0px solid transparent;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar li:nth-child(3) {
  margin-right: 50px; /* Further reduced gap after Cities */
}

.navbar li:nth-child(4) {
  margin-left: 5px; /* Further reduced gap before About */
}

.navbar a {
  text-decoration: none;
  color: rgb(43, 43, 138);
  font-size: 20px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #00bcd4;
}
h1{
  text-align: center;
  color:#990033;
}
h3{
 padding-top: 20px;
 /* padding-left: 150px; */
 text-align: center;
  color:#404040;
  font-size: 20px;

}
h4{
  padding-left: 400px;
  color:#404040;
  font-size: 20px;
}
.desc{
  padding-top: 20px;
  text-align: center;
  color:rgb(97, 98, 99);
  font-size: 18px;
}
.highcharts-container{
 /* padding-left: 30px; */
}