body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.dropdown {
    margin-bottom: 30px;
    text-align: center;
}
.dropdown label {
    font-weight: bold;
    margin-right: 10px;
}
.dropdown select {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.chart-container {
    margin-bottom: 50px;
    padding: 20px;
    background: #fff;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
}
.chart-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
.chart-description {
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}
.bar {
    opacity: 0.8;
    stroke: none; /* Remove stroke */
}
.bar:hover {
    opacity: 1;
}
.axis-label {
    font-size: 12px;
}
.legend rect {
    stroke-width: 1;
}
.line {
    /* stroke: #ccc; */
    stroke-width: 0.5;
}
svg {
    font-size: 12px;
}
/* Remove gridlines */
.domain,
.tick line {
    display: none;
}
